:root{
	--primary: #977fff;
	--secondary: #192436;
	--primary-hover: #5739db;
	--primary-dark: #391faf;
	--rgba-primary-1: rgba(151,127,255,0.1);
	--rgba-primary-2: rgba(151,127,255,0.2);
	--rgba-primary-3: rgba(151,127,255,0.3);
	--rgba-primary-4: rgba(151,127,255,0.4);
	--rgba-primary-5: rgba(151,127,255,0.5);
	--rgba-primary-6: rgba(151,127,255,0.6);
	--rgba-primary-7: rgba(151,127,255,0.7);
	--rgba-primary-8: rgba(151,127,255,0.8);
	--rgba-primary-9: rgba(151,127,255,0.9);
	--title: #212529;
	--quote: url(../../images/quote-7.png);
}