:root{
	--primary: #eb8153;
	--secondary: #192436;
	--primary-hover: #cf6233;
	--primary-dark: #b54f23;
	--rgba-primary-1: rgba(235,129,83,0.1);
	--rgba-primary-2: rgba(235,129,83,0.2);
	--rgba-primary-3: rgba(235,129,83,0.3);
	--rgba-primary-4: rgba(235,129,83,0.4);
	--rgba-primary-5: rgba(235,129,83,0.5);
	--rgba-primary-6: rgba(235,129,83,0.6);
	--rgba-primary-7: rgba(235,129,83,0.7);
	--rgba-primary-8: rgba(235,129,83,0.8);
	--rgba-primary-9: rgba(235,129,83,0.9);	
	--title: #212529;
	--quote: url(../../images/quote-8.png);
}